Package: chonos-serial-port-emulator
Version: 1.2.1
Priority:
Architecture: all
Essential:
Depends: javino (>= 1.6.4)
Pre-depends: dkms
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts: 
Replaces:
Provides:
Description: A ChonOS package of the Serial Port Emulator by https://github.com/bptfreitas/SerialPortEmulator
